data
results
**/__pycache__/
*.pyc
*.pyo
*.pyd
**/.ipynb_checkpoints
.vscode
temp
.env*
rebuttal_exp
action_paths.json
count_dict.json
evaluation_results.json
paths_node.pkl
dev.json
pred_sqls.json
*/__pycache__/*
*.sqlite
*.pkl